.wrapper {
    width: 48px;
    height: 48px;
    transition: 0.4s;
    position: relative;
    transition: 0.5s;
}

.cart {
    min-width: 100%;
    min-height: 100%;
}

.wrapper:hover {
    bottom: 5px;
}

.circle {
    width: 26px;
    height: 26px;
    background-color: #0D50FF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    bottom: 16px;
}

.num {
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    border-radius: 50%;
}