.wrapper {
    padding: 32px 0 32px 32px;
}

.inputStyle {
    width: 100%;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 16px 32px;
    outline: none;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 16px;
}

.inputStyle::placeholder {
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}

.btn {
    margin-top: 16px;
}

.error {
    color: red;
    font-size: 20px;
    margin-bottom: 10px;
}

.btnStyle {
    font-family: "Montserrat", sans-serif;
    background-color: #fff;
    color: var(--main-text-color);
    font-weight: 600;
    font-size: 20px;
    padding: 16px 32px;
    border-radius: 5px;
    border: none;
    width: 100%;
    cursor: pointer;
    transition: 0.4s;
}

.btnActiveStyle {
    font-family: "Montserrat", sans-serif;
    background-color: #F1F3F4;
    color: #0D50FF;
    font-weight: 600;
    font-size: 20px;
    padding: 16px 32px;
    border-radius: 5px;
    border: none;
    width: 100%;
    cursor: pointer;
    transition: 0.4s;
}

.btnStyle:hover {
    background-color: var(--main-text-color);
    color: #fff;
}

.error {
    color: red;
}