.btn {
    font-family: "Montserrat", sans-serif;
    background-color: #fff;
    color: var(--main-text-color);
    font-weight: 600;
    font-size: 20px;
    padding: 16px 32px;
    border-radius: 5px;
    border: none;
    width: 100%;
    cursor: pointer;
}