.btn {
    font-family: "Montserrat", sans-serif;
    background-color: var(--main-background-color);
    color: #fff;
    font-weight: 600;
    font-size: 20px;
    padding: 16px 56px;
    border-radius: 5px;
    border: none;
    cursor: pointer;    
    transition: 0.4s;
}

.btn:hover {
    background-color: var(--secondary-background-color);
}




